/* 声明自定义字体 */
@font-face {
    font-family: 'MiSans';
    src: url('/fonts/MiSans-Regular.woff2') format('woff2');
    /* font-weight: 300;
    font-style: normal;
    font-display: swap; */
}

@font-face {
    font-family: 'Maple Mono';
    src: url('/fonts/MapleMono-Regular.ttf.woff2') format('woff2');
    /* font-weight: 300;
    font-style: normal;
    font-display: swap; */
}

@font-face {
    font-family: 'Neuton';
    src: url('/fonts/Neuton-Regular.ttf') format('truetype');
    /* font-weight: 300;
    font-style: normal;
    font-display: swap; */
}
  
  /* 全局应用字体 */
  body {
      font-family: Neuton, MiSans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
      font-size: 15px;
  }

/* 强制为代码块应用自定义字体 */
.post-content pre,
.post-content code {
    font-family: 'Maple Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}